#appmenu-closePrivate, #context-closeprivatewindow {
  list-style-image: url("chrome://browser/skin/appmenu-icons.png");
  -moz-image-region: rect(0px, 80px, 16px, 64px);
}
.OpenInPrivateWindow, #context-openlinkprivate {
  list-style-image: url("chrome://browser/skin/Privacy-16.png");
}