#appmenu-closePrivate, #filemenu-closePrivate, #context-closeprivatewindow {
  list-style-image: url("chrome://browser/skin/appmenu-icons.png");
  -moz-image-region: rect(0px, 80px, 16px, 64px);
}
#context-openpageprivatenew, #context-openpageprivate,
#context-openlinkprivate, #context-openlinkprivate2,
#context-openframeprivatenew, #context-openframeprivate {
  list-style-image: url("chrome://browser/skin/Privacy-16.png");
}